@import '_custvars.scss';
@import '~nord/src/sass/nord.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

body {
  font-family: 'Fira Code', monospace;
}

@media print {
  .container {
    width: auto;
    color: $dark;
    .pagebreak {
      page-break-before: always;
    }
  }

  .no-print,
  .no-print * {
    display: none !important;
  }
}
